In [1]:
import json
import requests
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st

In [20]:
abbv_stock = "Corey_Stock_csv_files/monthly_ABBV.csv"
bmy_stock = "Corey_Stock_csv_files/monthly_BMY.csv"
ctlt_stock = "Corey_Stock_csv_files/monthly_CTLT.csv"
lly_stock = "Corey_Stock_csv_files/monthly_LLY.csv"
jnj_stock = "Corey_Stock_csv_files/monthly_JNJ.csv"
mrk_stock = "Corey_Stock_csv_files/monthly_MRK.csv"
ogn_stock = "Corey_Stock_csv_files/monthly_OGN.csv"
pfe_stock = "Corey_Stock_csv_files/monthly_PFE.csv"
vtrs_stock = "Corey_Stock_csv_files/monthly_VTRS.csv"
zts_stock = "Corey_Stock_csv_files/monthly_ZTS.csv"

abbv_df = pd.read_csv(abbv_stock)
bmy_df = pd.read_csv(bmy_stock)
ctlt_df = pd.read_csv(ctlt_stock)
lly_df = pd.read_csv(lly_stock)
jnj_df = pd.read_csv(jnj_stock)
mrk_df = pd.read_csv(mrk_stock)
ogn_df = pd.read_csv(ogn_stock)
pfe_df = pd.read_csv(pfe_stock)
vtrs_df = pd.read_csv(vtrs_stock)
zts_df = pd.read_csv(zts_stock)

merge_df = pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(\
            abbv_df, bmy_df, how='outer'), ctlt_df, how='outer'), lly_df, how='outer'), \
            jnj_df, how='outer'), mrk_df, how='outer'), ogn_df, how='outer'), \
            pfe_df, how='outer'), vtrs_df, how='outer'), zts_df, how='outer')
#merge_df.to_csv("merge.csv", index=False)
merge_df

     ticker   timestamp    open    high       low   close     volume
0      ABBV  2023/10/16  148.47  150.40  145.3550  147.23   42906921
1      ABBV  2023/09/29  147.36  154.88  143.7400  149.06   85059957
2      ABBV  2023/08/31  150.00  153.60  145.9400  146.96   89768321
3      ABBV  2023/07/31  134.00  151.76  132.7000  149.58  119863991
4      ABBV  2023/06/30  135.26  139.67  130.9601  134.73  135189166
...     ...         ...     ...     ...       ...     ...        ...
1862    ZTS     7/31/13   31.02   31.65   28.9700   29.81  157249700
1863    ZTS     6/28/13   32.01   32.99   29.4000   30.89  292403400
1864    ZTS     5/31/13   32.97   34.28   31.7500   32.00   72809400
1865    ZTS     4/30/13   33.42   34.74   30.4200   33.02   42045100
1866    ZTS     3/28/13   33.36   35.42   32.0000   33.40   37343800

[1867 rows x 7 columns]